/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
body {
  font-family: sans-serif;
  margin: 0px;
}

/* line 23, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.content {
  padding-top: 55px;
}

/* line 26, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.header {
  color: white;
  background: black;
  padding: 5px;
  position: fixed;
  width: 100%;
}
/* line 33, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.header a {
  color: white;
  text-decoration: none;
}
/* line 38, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.header .logo {
  margin-top: 5px;
  float: left;
}

/* line 44, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.new_user {
  border: 3px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}
/* line 53, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.new_user label {
  padding: 0px;
}
/* line 57, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.new_user .gamertag, .new_user .timezone {
  padding: 4px;
}

/* line 62, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.user {
  border: 3px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}
/* line 71, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.user h3 {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}
/* line 77, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.user p {
  margin: 0px;
  padding: 0px;
}
/* line 82, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.user a {
  color: black;
}

/* line 87, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.about {
  padding-left: 5px;
}

/* line 91, /Users/mike/Developer/timepwn/app/assets/stylesheets/application.scss */
.hidden_form {
  display: none;
}
