<div class = "user" style="padding-bottom: 25px;">
  <h3><%= user.gamertag %></h3>
  <p><%= user.timezone %></p>

  <p style="float: left;">
    <label>Local time: </label>
    <%= user.local_time %>
  </p>

  <p style="float: right;">
    <%= button_tag "Remove",
                data: { user_id: user.id },
                class: "remove_user",
                type: ''%> 
  </p>

</div>
