<div class="about">
	<h1>About</h1>

	<p>This webapp was developed by Michael Stewart using Ruby on Rails </p>

	<p>Inquiries and suggestions can be directed to <a href='mailto:mpstewartpgh@gmail.com?Subject=TimePWN%20suggestion'>mpstewartpgh@gmail.com</a></p>
</div>
