/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: sans-serif;
  margin: 0px;
}

.content {
  padding-top: 55px;
}
.header {
  color: white;
  background: black;
  padding: 5px;
  position: fixed;
  width: 100%;

  a {
    color: white;
    text-decoration: none;
  }

  .logo {
    margin-top: 5px;
    float: left;
  }
}

.new_user {
  border: 3px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;

  label {
    padding: 0px;
  }

  .gamertag, .timezone {
    padding: 4px;
  }
}

.user {
  border: 3px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;

  h3 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
  }

  p {
    margin: 0px;
    padding: 0px;
  }

  a {
    color: black;
  }
}

.about {
	padding-left: 5px;
}

.hidden_form {
  display: none;
}